name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  lint:
    name: Lint Shell Scripts
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./cicd-learning/ci-simulation
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install shellcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck

      - name: Run lint
        run: ./lint.sh

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [ lint ]
    defaults:
      run:
        working-directory: ./cicd-learning/ci-simulation
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install zip
        run: |
          sudo apt-get update
          sudo apt-get install -y zip

      - name: Run build
        run: ./build.sh

      - name: Clean old artifacts
        run: rm -rf ci-artifacts

      - name: Compute version
        run: echo "VERSION=v-${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: package build artifact
        run: ./package.sh

      - name: Rename build zip with version
        run: |
          set -e
          ZIP_FILE="$(ls -1 ci-artifacts/*.zip | head -n 1)"
          echo "Found zip: $ZIP_FILE"
          mv "$ZIP_FILE" "ci-artifacts/app-${VERSION}.zip"
          ls -la ci-artifacts

      - name: upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: ./cicd-learning/ci-simulation/ci-artifacts/*.zip
          if-no-files-found: error

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [ build ]
    defaults:
      run:
        working-directory: ./cicd-learning/ci-simulation
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set executable permissions
        run: chmod +x ./*.sh

      - name: Run tests
        run: ./test.sh

      - name: Upload logs (artifact)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ci-logs
          path: ./cicd-learning/ci-simulation/*.log
          if-no-files-found: warn
