name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  lint:
    name: Lint Shell Scripts
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./cicd-learning/ci-simulation
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install shellcheck
        run: |
          sudo apt-get update
          sudo apt-get install -y shellcheck

      - name: Run lint
        run: ./lint.sh

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [ lint ]
    defaults:
      run:
        working-directory: ./cicd-learning/ci-simulation
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set executable permissions
        run: chmod +x ./*.sh

      - name: Run build
        run: ./build.sh

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [ build ]
    defaults:
      run:
        working-directory: ./cicd-learning/ci-simulation
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set executable permissions
        run: chmod +x ./*.sh

      - name: Run tests
        run: ./test.sh

      - name: Upload logs (artifact)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ci-logs
          path: ./cicd-learning/ci-simulation/*.log

